<footer> 
  <div class="row footer-row"> 
    <div class="col footer-links">
      <h3>Links</h3>
      <a href='/'>Home</a>
      <a href='/signup'>Signup</a>
      <a href='/login'>Login</a>
      <a href='/subscriptions'>Subscriptions</a>
    </div>
    <div class="col">
      <h3>Newsletter</h3>
        <form>
        <input class="newsletter-input" type="text" placeholder="Your Email Address" required><br><br>
        <button class="newsletter-btn" type="submit">Submit</button>
      </form>
    </div>
    <div class="col">
      <h3>Contact</h3>
      <p>2222 OtterBots Avenue<br>Monterey, California</p>

      <h3> Socials</h3>
      <a href="https://www.instagram.com" class="fa fa-instagram"></a>
      <a href="https://www.facebook.com" class="fa fa-facebook"></a>
      <a href="https://www.youtube.com" class="fa fa-youtube"></a>
      <a href="https://www.twitter.com" class="fa fa-twitter"></a>
      <h3>We accept:</h3>
      <div class="payment">
        <img src="https://img.icons8.com/color/48/000000/visa.png" alt="visa img">
        <img src="https://img.icons8.com/color/48/000000/mastercard.png" alt="mastercard img"> 
      </div>
    </div>
  </div>
  <div class="row footer-row">
    <div class="footer-content">
      <br>
      <img src="/img/csumblogo.jpg" id='logo' alt="csumb logo">
      <img src='/img/otterbot.jpg' id='otterbot' alt="otterbot logo">
      <p>Copyright &copy; 2022 OtterBots<br>CST336 Internet Programming</p>
    </div>
  </div>
</footer>
</body>
</html>

