
        <%- include('partials/header.ejs') %> 
<!--<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1598839949627-fc96b1f2578f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80')">
        <div class="carousel-caption-center-text">
         <p class="homep" style="font-family: 'Luckiest Guy', cursive;">The Best cookies in town!<p>
Get cookied delivered directly to your doorstep with Otterbots Cookie Co. We have several subscription plans to choose from.  Pick the one that best suits your cravings! Not to mention our cookies are delicous!
</div>
  
<div>
  <br><br>
  <div class="orderbtn" style="text-align:center;">
    <form action='/subscriptions'>
      <button class="homebtn">Order Now!</button>
    </form>
  </div>
        </div>
      </div>
      
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1582623201359-74e936ed48c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80')">
        <div class="carousel-caption-center-text">
          <p class="homep" style="font-family: 'Luckiest Guy', cursive;"> About Otterbots Cookie Co.</p><p>Otterbots Cookie Co is a company envisioned by four otters that attend CSUMB for the Computer Science Degree.</p>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1597733153203-a54d0fbc47de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1990&q=80')">
      <p class="homep" style="font-family: 'Luckiest Guy', cursive;">
          Flavors</p> <p>Our Flavors include <br> Chocolate Chip<br> Chocolate Fudge <br> Sprinkle<br> and Oatmeal Raisin</p>
        </div>
      </div>
      
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1639678112926-33e4bde55734?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80')">
        <div class="carousel-caption-center-text">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
    
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1596425720861-eb7d31f57c11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')">
        <div class="carousel-caption-center-text">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
-->

    <div id="carouselExampleCaptions" class="carousel slide" >
  
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1598839949627-fc96b1f2578f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80')">
        
      </div>
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1597733153203-a54d0fbc47de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1990&q=80')">
        
      </div>

        <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1582623201359-74e936ed48c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80')">
       
      </div>
      
        <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1639678112926-33e4bde55734?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80')">
        
      </div>
      
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1596425720861-eb7d31f57c11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')">
        
    </div>
            
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    <section class="py-4">
  <div class="container2">
 <h1 class="fw-light">Want to try the best cookies ever?</h1>
    <p class="lead">Get cookies delivered directly to your doorstep with Otterbots Cookie Co. We have several subscription plans to choose from. Pick the one that best suits your cravings! Not to mention our cookies are delicous! </p>
</div>
  
<div>
  <br><br>
  <div class="orderbtn" style="text-align:center;">
    <form action='/subscriptions'>
      <button class="homebtn">Order Here!</button>
    </form>
  </div>
  </div>
</section>
          
   <section class="py-5">
  <div class="container1">
    <h1 class="fw-light">About The OtterBots Cookie Co.</h1>
    <p class="lead">Otterbots Cookie Co is a company envisioned by four otters that attend CSUMB for the Computer Science Degree and love cookies. </p>
  </div>
</section>

  <%- include('partials/footer.ejs') %> 



