<%- include('partials/header.ejs') %> 
 
<div class="home">
  <p class="homep" style="font-family: 'Luckiest Guy', cursive;">The Best cookies in town!<p>
Get cookied delivered directly to your doorstep with Otterbots Cookie Co. We have several subscription plans to choose from.  Pick the one that best suits your cravings! Not to mention our cookies are delicous!
</div>
<div>
  <br><br>
  <div class="orderbtn" style="text-align:center;">
    <form action='/subscriptions'>
      <button class="homebtn">Order Now!</button>
    </form>
  </div>
</div>
<%- include('partials/footer.ejs') %> 

