<%- include('partials/header.ejs') %> 

  <h1>Profile</h1>
  <br>
  <div id = greeting></div>
  <h2 id = 'loading'></h2>
  <br>
  <div class="text-center"><a href="/logout" class="logout">[ Logout ]</a></div>
  <br>
  <div class="container signup-container">
    <form method="POST" action="/profile" id='updateProfile'>
      <div class="form-group row mb-2">
        <label for="username" class="col-sm-3 col-form-label font-bolded"> Username: </label>
        <div class="col-sm-9">
          <input class="form-control" type='text' name='username'>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="password" class="col-sm-3 col-form-label font-bolded"> Password: </label>
        <div class="col-sm-9">
          <input class="form-control" type='password' name='password'>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="firstname" class="col-sm-3 col-form-label font-bolded"> First Name: </label>
        <div class="col-sm-9">
          <input class="form-control" type='text' name='firstname'>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="lastname" class="col-sm-3 col-form-label font-bolded"> Last Name: </label>
        <div class="col-sm-9">
          <input class="form-control" type='text' name='lastname'>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="address" class="col-sm-3 col-form-label font-bolded"> Address: </label>
        <div class="col-sm-9">
          <input class="form-control" type='text' name='address'>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="city" class="col-sm-3 col-form-label font-bolded"> City: </label>
        <div class="col-sm-9">
          <input class="form-control" type='text' name='city'>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="state" class="col-sm-3 col-form-label font-bolded"> State: </label>
        <div class="col-sm-9">
          <select class="form-select" id="state" name="state"></select>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="zip" class="col-sm-3 col-form-label font-bolded"> Zip: </label>
        <div class="col-sm-9">
          <input class="form-control" type='text' name='zip'>
        </div>
      </div>
      <input type="hidden" name="userId" value='-1'>
  <input class="form-control w-50 mt-4 input-center input-btn" type= 'submit' value = 'Update!'>
    </form>
  </div>
  <br><hr><br>
  <div class = 'centering_box'>
  <div id = 'scooby_snacks'>
  <div class="text-center"><h3>Current Subscriptions</h3></div>
  <div class="container signup-container">
    <div class="form-group row mb-2" id = "user_subs">

      </div>
    </div>
  </div>
  </div>


<script src = "/js/profileScript.js" type = "text/javascript"></script>
<%- include('partials/footer.ejs') %> 